
.sidebar__category { 
  @extend .mb-md;
  & .aside--title {
    clip-path: none;
    padding: 1rem 0;
  }
  &--title {
    clip-path: none;
    padding: 1rem 0;
  }
  
  &--title {
    font-size: 1.6rem;
    color:inherit;
    background: $cWhite;
    padding: .625em .625em .625em 2em;
    position: relative;
    cursor: pointer;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      width: 15px;
      height: 1px;
      right: 25px;
      background: $cBlack;
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      width: 15px;
      height: 1px;
      right: 25px;
      transform: rotate(90deg);
      transition-duration: .3s;
      background: $cBlack;
    }

    &.is-active::before {
      opacity: 0;
    }

    &.is-active::after {
      transform: rotate(0);
    }
  }

  &--content {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    padding: 0 1.5rem;
    line-height: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition-duration: .3s; 

    &.is-open {
      padding: .6rem 1.5rem;
      line-height: normal; /* numberに書き換える*/
      height: auto;
      opacity: 1;
    }
  }
}
