.font-sm {
  font-size: 1rem;
}

.font-md {
  font-size: 1.2rem;
}

.font-lr {
  font-size: 1.6rem;
}

.font-lg {
  font-size: 2.4rem;
}

.mb-sm {
  margin-bottom: 16px !important;
}

.mb-md {
  margin-bottom: 32px !important;
}

.mb-lg {
  margin-bottom: 80px !important;
}
.pb-sm {
  padding-bottom: 16px !important;
}
.pb-lg {
  padding-bottom: 80px !important;
}

.under-line {
  border-bottom: $border;
}

.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}

.content-width-sm {
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth-sm;
}

.flex {
  display: flex;
  // flex-direction: column;
}

.fixed {
  height: 100%;
  overflow: hidden;
}

.section {
  transition: transform 1.5s, opacity 2s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(10rem);
}

.highlight {
  position: relative;
  z-index: 2;
}

.highlight::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  // clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
  transform: scale(1.07, 1.05) skewX(-25deg);
  background-image: linear-gradient(to right bottom, $cGreen-1, $cGreen-2);
}

.highlight-blue {
  position: relative;
  z-index: 2;
}

.highlight-blue::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-10deg);
  // clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
  background-image: linear-gradient(to right bottom, $cBlue-1, $cBlue-2);
}

.upDown {
  @include animation($name: upDown-animation,
  $iteration-count: infinite,
  $duration: 2s,
  $timing-function: liner);
}




.red {
  // color: red;
}

.bg-blue {
  background: blue;
}


.fixed-bg {
  background-attachment: fixed;   
  background-size: cover;
  background-repeat: no-repeat;
}
