/* --------------------------------------------
  大枠
----------------------------------------------- */

.wrapper {
  padding-top: 50px;
  @extend .mb-lg;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include respondDown(tab-port) {
    flex-direction: column-reverse;
  }
}

/* --------------------------------------------
  HOME-SETION
----------------------------------------------- */
.section-hero {
  @extend .content-width;
  @extend .mb-md;
}

.section-story {
  // margin-top: 60px;
  // background-attachment: fixed;
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-image: linear-gradient(to right bottom, rgba(255,255,255,0.5), rgba(255,255,255,0.5)),url(../images/story_bg.jpg);
  // background-position: bottom center;
  position: relative;
  // @extend .mb-lg;
  // border-bottom: $borderShadow;

}

.section-features {
  color: $cWhite;
  // margin-top: -8vh;
  position: relative;
  @extend .mb-lg;

}

.section-about {
  margin-top: 30px;
  background: $cWhite;
  // @extend .mb-lg;
}


.section-news {
  position: relative;
  @extend .content-width;
  margin-bottom: 150px;
  color: $cBlack;
}

.section-form {
  height: calc(100vh - 116px);
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding-top: 50px;
}

/* --------------------------------------------
  BLOG-SETION
----------------------------------------------- */


.section-category {
  // @extend .content-width;
  position: relative;
  // font-family: $famicon;
  color: $cBlack;
  background: $cWhite;

  &__container {}
}


/* --------------------------------------------
  article--sections
----------------------------------------------- */
.article {
  flex-basis: 65%;

  &--header {
    text-align: center;
    padding: 1rem 0;
    background: $cWhite;
    color: $cBlack;
  }
}

/* --------------------------------------------
  aside--sections
----------------------------------------------- */

.aside {
  flex-basis: 30%;

  &--container {}

  &--title {
    @extend .font-md;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    // @extend .font-lr;
    text-align: center;
    padding: 1rem 0 3rem;
    background: $cWhite;
    border-bottom: $border;
    color: $cBlack;
    text-align: center;
  }
}

.sidebar__sale {
  display: none;
  @extend .mb-md;

  @include respond(tab-port) {
    display: block;
  }
}

.sidebar__category {
  @extend .mb-md;
}

.sidebar__news {
  background: $cBgGray;
}





