.about {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &__gallerys {
    @extend .fixed-bg;
    background-image: linear-gradient(to right bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../images/cinema_bg.jpg);
    background-position: top left;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vw;
    position: relative;
    flex-basis: 50%;
    @include respondDown(tab-port) {min-height: 380px; flex-basis: 100%;}
    &--img {
      cursor: pointer;
      width: 50%;
      border-radius: 5%;
      position: absolute;
      z-index: 10;
      transition: all .2s;
      // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      &:hover {
        transform: scale(1.05) translateY(-0.5rem);
        z-index: 20;
      }
    }
  }
  
  &__profile {
    height: 25vw;
    // font-family: Canela, Georgia, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right bottom, rgba(255,255,255,0.5), rgba(255,255,255,0.5)),url(../images/story_bg.jpg);
    background-position: bottom center;
    // box-shadow: $borderShadow;
    @include respondDown(tab-port) {flex-basis: 100%; min-height: 380px;}
    &--desc {
      position: relative;
      color: $cBgBlack;
      padding: 24px;
    }

    &--para {
      @extend .font-md;
      // width: auto;
      max-width: 40ch;
      color: #525258;
      line-height: 24px;
    }
  }

  // &__profile::after {
  //   content: '';
  //   position: absolute;
  //   bottom: 0%;
  //   right: 0%;
  //   width: 400px;
  //   max-width: 400px;
  //   height: 100px;
  //   background: $cBgGray;
  //   clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
  //   @include respondDown(phone) {
  //     display: none;
  //   }
  // }
}







