.hooper {
  height: 100% !important;
}

.hooper-list {
  height: 450px !important;
}

.hooper-slide {
  position: relative;
  overflow: hidden;

  > img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 61, 125, 0.1);
    z-index: -2;
  }
}

.hooper-track .is-active > img {
  -webkit-transform: none;
  transform: none;
  outline: none;
}

* > :focus {
  outline: none !important;
}

.hooper-track .is-active {
  .hero__title, .hero__description {
    opacity: 1;
  }
}

.hero__header {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
}

.hero__header--icon {
  height: 2rem;
  width: 2rem;
  margin-right: 2rem;
}

@media only screen and (max-width: 37.4em) {
  .hero__header--icon {
    display: none;
  }

  .hooper-list {
    height: 250px !important;
  }
}

.hero__header--title {
  flex: 1;
  text-transform: uppercase;

  span {
    @extend .font-lr;
  }
}

@media only screen and (max-width: 37.4em) {
  .hero__header--title {
    margin-bottom: 2rem;
  }
}

.hero__title {
  @extend .font-lg;
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 2;
  color: white;
  opacity: 0;
  -webkit-transition: opacity 0.1s ease 0.2s;
  transition: opacity 0.1s ease 0.2s;
}

.hero__footer {
  position: absolute;
  right: 2%;
  bottom: 5%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 2;
  height: 68px;
  width: 22px;
  overflow: hidden;
}

.hero__downarrow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 6px;
  -webkit-animation-name: upDown-animation;
  animation-name: upDown-animation;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: liner;
  animation-timing-function: liner;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.hero__scrolltext {
  color: white;
  position: absolute;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  left: -10px;
  top: 12px;
  font-size: 10;
}

.hero__description {
  position: absolute;
  bottom: 5%;
  left: 5%;
  opacity: 0;
  color: white;
  -webkit-transition: opacity 0.1s ease 0.2s;
  transition: opacity 0.1s ease 0.2s;

  a {
    color: $cBlue-1;
    text-decoration: underline;
    font-weight: bold;
  }
}
