.search {
    position: relative;
    display: flex;
    // align-items: center;
    flex-direction: column;
  // padding: 5px 5px 5px 11px;

  &__item {
      @extend .pb-md;
  }

  &__label {
    display: block;
    font-weight: bold;
     @extend .font-md;
  }

  &__input {
    width: 100%;
    font-size: 16px;
    background: $cBgGray;
    border: none;
    border-radius: 100px;
    padding: .7rem 2rem;

    // margin-right: -3.25rem;
    &:focus {
      outline: none;
    }
  }

  &__message {
    margin-top: 10px;
      height: 200px;
      background: $cBgGray;
      width: 100%;
      padding: 1rem;
      @extend .font-md;
  }

  &__btn {
    font-size: 1rem;
    position: absolute;
    top: 5px;
    right: 3%;
    cursor: pointer;
    border: none;
    // background: $cWhite;

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 20px;
    width: 20px;
    fill: $cBlack;
  }
}
