/******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/

///////////////////////////////////////////////////////////////////
//// 共通部分
///////////////////////////////////////////////////////////////////
.flex {
  flex-direction: row;
  flex-wrap: wrap;
}




