/******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/

.mb-lg {
  margin-bottom: 150px !important;
}
.pb-lg {
  padding-bottom: 150px !important;
}
